body{
	margin: 0;
	padding: 0;
}


#contenedor{
	width: 600px;
	margin: 0 auto;
}

.tarjeta{
	width: 100%;
	height: 300px;
	top:120px;
	position: relative;
	background: url("../img/pulpobit.jpg");
	background-size: cover;
	background-position: center;
	border: solid thin silver;
}

.fondo{
	width: 260px;
    height: 0px;
    border-left: 100px solid transparent;
    border-bottom: 300px solid slategray;
    position: relative;
    left: 240px;
}


.logo{
	width: 200px;
	height: 68px;
	position: absolute;
	background: url("../img/Laboratoria_Logo.png");
	background-size: cover;
	background-position: top;
    left: 90px;
}

.texto{
	text-align: center;
	top: 40px;
	left: 20px;
	width: 200px;
	position: absolute;
}

p, h3, h4{
	font-family: 'Ubuntu', sans-serif;
	font-weight: lighter;
}

h3{
	color: white;
	text-align: center;
	font-size: 24px;
}

h4{
	color: goldenrod;
	text-align: center;
	font-size: 18px;
	top:-12px;
	position: relative;
}

p{
	color: white;
	text-align: left;
	font-size: 14px;
	position: relative;
	left: -30px;

}


.iso{
	width: 50px;
	height: 50px;
	position: absolute;
	background: url("../img/Laboratoria_Isotipo CodeAcademy.png");
	background-size: cover;
	background-position: top;
	top: 210px;
    left: 190px;
}